:root
{
    --colour0:#FFFFFF;
    --colour1:#fdf3ec;
    --colour2:#D3B094;
    --colour3:#E19251;
    --colour4:#A5593C;
    --colour5:#D9D9D9;
    --colour6:#A6A6A6;
    --colour7:#737373;
    --colour8:#424242;
    --colour9:#000000;
}